// Variables
$RED: #ae0404;
$YELLOW: #f0cf00;
$BLACK: #222222;
$GRAY: #3d3d3d;

.no-transition {
	-webkit-transition: all 0s ease-in-out !important; 
	-moz-transition: all 0s ease-in-out !important; 
	-ms-transition: all 0s ease-in-out !important; 
	-o-transition: all 0s ease-in-out !important; 
	transition: all 0s ease-in-out !important;
}
input[type="submit"] {
	background: $YELLOW;
	color: white;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	display: inline-block;
	padding: 12px 12px;
	border-radius: 4px;
	white-space: nowrap;
	cursor: pointer;
	border: 0px;
	border: 1px solid $YELLOW;
	&.block {
		display: block;
		width: 100%;
	}
	&:focus, &:active {
		outline: 0;
	}
}
hr {
	border: 0px;
	border-top: 1px solid rgba(0,0,0,.1);
}
input[type="text"], input[type="date"], input[type="time"], input[type="password"], input[type="number"], input[type="email"] {
	font-family: 'Roboto';
	padding: 12px 8px;
	font-size: 15px;
	display: inline-block;
	width: 100%;
	border-radius: 4px;
	width: 100%;
	border: 1px solid rgba(0,0,0,.3);
	font-family: 'Roboto';
	&:active, &:hover, &:focus {
		outline: 0;
		border: 1px solid $YELLOW;
	}
}
input[type="radio"], input[type="checkbox"] {
	margin-right: 12px;
	margin-top: 16px;
}
label {
	display: block;
	position: relative;
	font-size: 15px;
	clear: both;
	input[type="checkbox"], input[type="radio"] {
		display: none;
		& + i:before {
			display: inline-block;
			font: normal normal normal 24px/1 "Material Design Icons";
			font-size: 20px;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			transform: translate(0, 0);
			margin: 8px 8px 8px 0px;
		}
	}
	input[type="checkbox"] {
		& + i:before {
			content: "\F131";
			color: #666;
		}
		&:checked + i:before {
			content: "\F132";
			color: $YELLOW;
		}
	}
	input[type="radio"] {
		& + i:before {
			content: "\F43D";
			color: #666;
		}
		&:checked + i:before {
			content: "\F43E";
			color: $YELLOW;
		}
	}
}
select {
	font-family: 'Roboto';
	padding: 12px 8px;
	font-size: 15px;
	display: inline-block;
	width: 100%;
	border-radius: 4px;
	background: white;
	border: 1px solid rgba(0,0,0,.3);
	&:active, &:hover, &:focus {
		outline: 0;
		border: 1px solid $YELLOW;
	}
}
textarea {
	font-family: 'Roboto';
	padding: 12px 8px;
	font-size: 15px;
	display: inline-block;
	width: 100%;
	min-height: 150px;
	max-height: 400px;
	border-radius: 4px;
	background: white;
	border: 1px solid rgba(0,0,0,.3);
	resize: vertical;
	&:active, &:hover, &:focus {
		outline: 0;
		border: 1px solid $YELLOW;
	}
	&::-webkit-scrollbar {
		width: 4px;
	}
	&::-webkit-scrollbar-thumb {
		background: rgba(0,0,0,.4);
	}
}
.mdi {
	font-size: 24px;
	vertical-align: middle;
	&.no-pad {
		margin-left: 0px;
		margin-right: 0px;
	}
	&.pad {
		margin: 8px;
	}
	&.pad-left {
		margin-left: 8px;
	}
	&.pad-right {
		margin-right: 8px;
	}
}
.tag {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	padding: 4px 6px;
	border-radius: 4px;
	color: white;
	margin: 4px;
	&.block {
		display: block;
	}
	i {
		font-size: 13px;
	}
}
.icon_button {
	color: $YELLOW;
	font-size: 24px;
	position: relative;
	i {
		color: #bbb;
	}
	span {
		background: $GRAY;
		color: white;
		font-size: 14px;
		font-weight: bold;
		white-space: nowrap;
		right: 0px;
		top: -28px;
		padding: 4px 8px;
		border-radius: 4px;
		position: absolute;
		display: none;
	}
	&[href], &[id], &[onclick], &[class*="btn"] {
		i {
			color: $YELLOW;
		}
		&:hover span {
			display: block;
		}
	}
}
a.button {
	background: #ddd;
	color: #bbb;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	display: inline-block;
	padding: 8px 12px;
	margin: 4px;
	border-radius: 4px;
	white-space: nowrap;
	cursor: pointer;
	i {
		font-size: 20px;
		vertical-align: middle;
		margin-right: 8px;
	}
	&[id], &[href], &[onclick], &[class*=btn] {
		background: $YELLOW;
		color: white;
	}
	&.disabled {
		background: #ddd !important;
		color: #bbb !important;
	}
	&.block {
		width: 100%;
		text-align: center;
	}
	&.red {
		background: $RED;
	}
}
.table {
	display: table;
	background: white;
	width: 100%;
	font-size: 14px;
	overflow: hidden;
	overflow-x: scroll;
	&::-webkit-scrollbar {
		height: 8px;
	}
	&::-webkit-scrollbar-thumb {
		background: $YELLOW;
	}
	.row {
		display: table-row;
		&.left .cell {
			text-align: left;
		}
		&.center .cell {
			text-align: center;
		}
		&.right .cell {
			text-align: right;
		}
		&.middle .cell {
			vertical-align: middle;
		}
		&.top .cell {
			vertical-align: top;
		}
		&.nowrap .cell {
			white-space: nowrap;
		}
	}
	.cell {
		display: table-cell;
		white-space: initial;
		&.fit {
			width: 1px !important;
			white-space: nowrap;
		}
		&.left {
			text-align: left;
		}
		&.center {
			text-align: center;
		}
		&.right {
			text-align: right;
		}
		&.middle {
			vertical-align: middle;
		}
		&.top {
			vertical-align: top;
		}
		&.nowrap {
			white-space: nowrap;
		}
	}
	&.left .cell {
		text-align: left;
	}
	&.center .cell {
		text-align: center;
	}
	&.right .cell {
		text-align: right;
	}
	&.middle .cell {
		vertical-align: middle;
	}
	&.top .cell {
		vertical-align: top;
	}
	&.nowrap .cell {
		white-space: nowrap;
	}
	&.pad {
		.cell {
			padding: 12px;
		}
	}
	&.nopad {
		.cell {
			padding: 0px;
		}
	}
	&.narrow {
		& > .row > .cell {
			padding: 4px 8px;
		}
	}
}
h1,h2,h3,h4,h5,h6 {
	line-height: 125%;
	color: $YELLOW;
	font-weight: 500;
	margin: 0px;
	padding: 0px;
}
.card {
	background: white;
	color: #333;
	overflow: visible;
	border-radius: 2px;
	box-shadow: 0px 2px 3px rgba(0,0,0,.3);
	width: 100%;
	position: relative;
	margin-top: 24px;
	float: left;
	.card {
		margin: 8px 0px;
	}
	.wrapper {
		padding: 16px;
		overflow: hidden;
	}
	&.focus {
		margin-top: 0px;
		z-index: 301;
		position: relative;
		& > span {
			cursor: default;
		}
		.hide-on-focus {
			display: none;
		}
	}
	& > a.button {
		margin: 0px;
	}
}
body {
	font-family: "Roboto";
	font-weight: normal;
	margin: 0px;
	background: #e5e5e5;
}
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
	td {
		padding: 8px;
		&.caption {
			font-weight: bold;
		}
	}
	&.data {
		background: white;
		width: 100%;
		margin-top: 12px;
		border-collapse: collapse;
		box-shadow: 0px 3px 4px rgba(0,0,0,.1);
		tr:not(:first-child) {
			td {
				border-top: 1px solid rgba(0,0,0,.05);
			}
		}
		td {
			border: 1px solid rgba(0,0,0,.1);
			font-size: 14px;
			padding: 8px;
		}
		tr.title {
			td {
				text-transform: uppercase;
				font-weight: bold;
				font-size: 13px;
				color: #444;
				text-align: center;
			}
		}
		tr:nth-child(even) {
			background: #fbfbfb;
		}
		tr:not(:last-child) {
			td {
				border-bottom: 1px solid rgba(0,0,0,.05);
			}
		}
		&.narrow {
			td {
				padding: 8px 4px;
			}
		}
		&.small {
			td {
				font-size: 12px;
			}
			tr.title {
				td {
					font-size: 11px;
				}
			}
		}
	}
	&.nopad {
		td {
			padding: 0px;
		}
	}
	&.border {
		td {
			border: 1px solid #888;
		}
	}
	tr.title {
		td {
			color: #444;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 13px;
		}
	}
	tr {
		td.title {
			color: #444;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 13px;
		}
	}
	&.report {
		td {
			font-size: 13px;
		}
	}
}

.template {
	& > .wrapper {
		max-width: 960px;
		margin: 0px auto;
		overflow: hidden;
		padding-bottom: 4px;
	}
}

@media screen and (max-width: 1280px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 425px) {

}